doctype html
html(lang="pt-br")
  head
    base(href="/")
    meta(charset="utf-8")
    meta(http-equiv="content-language", content="pt-br")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(http-equiv="cache-control", content="public")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="robots", content="noindex, nofollow")
    meta(name="author", content="Gabriel Flambo")

    title Buscar Matérias
    meta(name="description", content="Onde buscamos matérias cadastradas no nosso blog a partir de uma referencia ou não")
    meta(name="keywords", content="Buscar Matérias")

  body
    include ../partials/menu

    main
        section
            div(class="row busca")
                div(class="offset-l2 col l8 s12")
                    h2 Buscar Matérias 
                        span(class="fa fa-search")
                    p Espaço dedicado a busca de matérias cadastradas, visualizando todas as matérias com o nome e seu endereço. Assim disponibilizando o botão para alteração ou exclusão da mesma.
                    article
                        fieldset
                            form(method="POST", action="#")
                                cite
                                    span(class="fa fa-lightbulb")
                                    span  Insira a referência abaixo para ser buscada ou selecione abaixo para fazer busca pelo editor.
                                .clearfix
                                input(type="text", name="busca", required, placeholder="Digite aqui...")
                                .clearfix
                                label(for="autor1", title="Buscar materias de Gabriel Flambo")
                                    input(type="checkbox", class="filled-in", name="autores", id="autor1")
                                    span Gabriel Flambo
                                label(for="autor2", title="Buscar materias de Jessica Barros")
                                    input(type="checkbox", class="filled-in", name="autores", id="autor2")
                                    span Jessica Barros
                                button(type="submit", class="btn waves-effect") Buscar

        section
            div(class="row resultado")
                table(class="centered responsive-table")
                    thead
                        tr
                            th Título
                            th Autor
                            th Publicado
                            th Ações
                    tbody
                        tr
                            td 
                                a(href="www.localhost.com.br/8-formas-de-ganhar-dinheiro-na-internet/", class="urls", title="Acesse o link") 8 Formas de Ganhar dinheiro na Internet
                            td Gabriel Flambo
                            td 18 de Abril de 2018
                            td 
                                a(href="materia/marketing-digital", class="btn waves-effect", title="Ver mais detalhes") 
                                    span(class="fa fa-edit")
                                a(href="materia/marketing-digital", class="btn waves-effect", title="Excluir matéria") 
                                    span(class="fa fa-trash")
                        tr
                            td 
                                a(href="www.localhost.com.br/8-formas-de-ganhar/", class="urls", title="Acesse o link") 8 Formas de Ganhar
                            td Jessica Barros
                            td 27 de Junho de 2017
                            td 
                                a(href="materia/marketing-digital", class="btn waves-effect", title="Ver mais detalhes") 
                                    span(class="fa fa-edit")
                                a(href="materia/marketing-digital", class="btn waves-effect", title="Excluir matéria") 
                                    span(class="fa fa-trash")

    link(type="text/css", rel="stylesheet", href="css/estilo.css")
    link(type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection")
    script(defer, src="js/plugins/fontawesome-all.min.js")
    script(src="js/plugins/materialize.min.js")
    script(src="js/app/controllers/MenuController.js")
    script(src="js/app/models/Menu.js")
    script(type="text/javascript").
        let menuController = new MenuController();