doctype html
html(lang="pt-br")
	head
		base(href="/")
		meta(charset="utf-8")
		meta(http-equiv="content-language", content="pt-br")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(http-equiv="cache-control", content="public")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="robots", content="noindex, nofollow")
		meta(name="author", content="Gabriel Flambo")

		title Dashboard
		meta(name="description", content="Pagina Inicial do Painel com Dados Administrativos ainda não pensei muito bem nela")
		meta(name="keywords", content="Dashboard")

	body
		include partials/menu

		main
			section
				div(class="row painel")
					div(class="col l3 m6 s12")
						div(class="info-box bg-orange")
							.icon
								span(class="fa fa-user")
							.content
								h2 Visitantes
								p 1552
					.clearfix
					div(class="card col s12")
						h3 Usúarios
						canvas(id="line_chart", height="50")

	link(type="text/css", rel="stylesheet", href="css/estilo.css")
	link(type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection")
	script(src="js/plugins/Chart.bundle.min.js")
	script(defer, src="js/plugins/fontawesome-all.min.js")
	script(src="js/plugins/materialize.min.js")
	script(src="js/app/controllers/MenuController.js")
	script(src="js/app/models/Menu.js")
	script(src="js/app/controllers/GraficoController.js")
	script(type="text/javascript").
		let graficoControlller = new GraficoController();
		let menuController = new MenuController();